# Python
__pycache__/
*.pyc
.pytest_cache

# Virtual Environment
venv/
env/
myenv/

# Flask
instance/

# SQLite3
*.db

# Node.js
node_modules/

# JavaScript
*.js.map

# VSCode
.vscode/

# Session data
flask_session/

# Secret key
secret.key
