{% extends "layout.html" %}

{% block title %}
    Manager
{% endblock %}

{% block main %}
<h2 class="mb-5">Manage Passwords</h2>    
<div class="container mb-5">
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="d-flex justify-content-between">
                <form action="/" method="post" class="d-flex align-items-center">
                    <input name="search" type="search" class="form-control me-2" placeholder="Search">
                    <button class="btn btn-secondary" type="submit">Submit</button>
                </form>

                <form action="/" method="post" class="d-flex align-items-center" id="sortForm">
                    <select name="sort" class="form-select me-2" aria-label="Default select example">
                        <option value="" disabled selected>Sort by...</option>
                        <option value="website">Website</option>
                        <option value="username">Username</option>
                        <option value="email">Email</option>
                        <option value="notes">Notes</option>
                        <option value="created_at">Time Created</option>
                    </select>
                    <button type="button" id="toggleSortButton">
                        <i class="fas fa-sort"></i>
                    </button>
                </form>   

            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <a href="/add" class="btn btn-primary">Add Password</a>
        </div>
        <div class="col">
            <button id="revealAllPasswords" class="btn btn-secondary">Reveal Passwords</button>
            <form id="pinForm" class="hidden mt-2">
                <input class="form-control me-2" minlength="4" maxlength="4" type="password" id="pinInput" placeholder="Enter PIN">
                <button class="btn btn-secondary" id="submitPin">Submit</button>
              </form>
        </div>
        <div class="col">
            <button id="deletePassword" class="btn btn-danger">Delete Selected Passwords</button>
            
        </div>
    </div>

    <form action="/delete" method="post" id="deleteForm">
        <table class="table table-striped table-bordered mt-4">
            <thead>
                <tr>
                    <th>Select</th>
                    <th></th>
                    <th>Website</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Notes</th>
                    <th>Time Created</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td><input type="checkbox" name="select" value="{{ row.id }}" disabled></td>
                    <td><a href="/edit/{{ row.id }}" class="btn btn-secondary">Edit</a></td>
                    <td>
                        {% if row.website %}
                        <a id="index_website" href="{{ domain }}" class="convertToURL" target="_blank">{{ row.website }}</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>{{ row.username if row.username is not none else "" }}</td>
                    <td>{{ row.email if row.email is not none else "" }}</td>
                    <td>
                        <span type="password" class="password_index" data-password="{{ row.password }}">*******</span>
                    </td>
                    <td>
                        <textarea class="form-control notes-summary" rows="1" disabled>{{ row.notes if row.notes is not none else "" }}</textarea>
                    </td>
                    <td>
                        {% if row.created_at %}
                            {% set parts = row.created_at.split(' ') %}
                            {% set date_part = parts[0] %}
                            {% set time_part = parts[1].split('.')[0] %}  {# Remove milliseconds #}
                            {% set hour_part = time_part.split(':')[0] %}
                            {{ date_part }} {{ hour_part }}:{{ parts[1].split(':')[1] }}
                        {% else %}
                            N/A
                         {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const toggleSortButton = document.getElementById("toggleSortButton");
    let sortOrder = ""; 

    if (toggleSortButton) {
        toggleSortButton.addEventListener("click", () => {
            sortOrder = sortOrder === "asc" ? "desc" : "asc";
            submitSortForm(sortOrder);
        });
    }

    function submitSortForm(order) {
        document.getElementById('orderField').value = order;
        document.getElementById('sortForm').submit();
    }
});
</script>

{% endblock %}
